body{
    background-image: (bottom right, #0080ff, #0000ff) 
}
h1{
    text-align: center;
    font-family: fantasy;
    font-size: 50;
    color: #cccccc
}

#Images_Accueil{
    align-content: center;
    width: 33;
    border-radius: 7
}
p{
    font-size: 20;
    color: #cccccc
}
a{
    color: #ff9900
}
